* {
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 100px;
}

.front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

.front-left {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 8px;
}

img {
  width: 500px;
  height: 250px;
}

.header, .footer, .front {
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.link-text, .front-description {
  font-size: 18px;
  color: #E5E7EB;
}

.quote-section {
  background-color: #E5E7EB;
}

.quote {
  font-family: "Roboto, Light Italic";
  font-size: 36px;
  color: #1F2937;
}

.blue-box, button {
  background-color: #3882F6;
}

button {
  width: 100px;
}

.title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.random-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
