* {
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 100px;
}

.front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

.front-left {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 8px;
}

.header, .footer, .front {
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

img {
  width: 500px;
  height: 250px;
}

.link-text, .front-description {
  font-size: 18px;
  color: #E5E7EB;
}

.random-title {
  margin: 40px 40px;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 80px;
}

.random-image {
  display: flex;
  flex-direction: column;
  width: 140px;
  flex-wrap: wrap;
  margin: 0 30px; 
}

.subtext {
  text-align: center;
  color:#4c5057;
}

.image {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: rgb(100, 138, 243);
  border-radius: 15px;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 80px 180px;
}

.quote {
  font-style: italic;
  font-family: "Roboto Light";
  font-size: 36px;
  color: #1F2937;
}

.author {
  text-align: right;
  color: #1F2937;
  font-weight: 900;
}

.blue-box, button {
  background-color: #3882F6;
}

button {
  width: 100px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: white;
  padding: 10px 20px;
}

.front-left .front-button {
  border: none;
  outline: none;
}

.title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.random-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.blue-box {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  margin: 80px 100px;
}

.sign-up-left {
  color: white;
}

.sign-up-title {
  font-weight: 900;
  font-size: 24px;
}

.blue-button {
  border: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
